.container{
    padding: 8px;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: helvetica;
    font-size: 58px;
    font-weight: 700;
    color: #1877F2;
}

h3{
    font-size: 30px;
    font-weight: 500;
    width: 480px;
    margin-top: -30px;
}