body{
  background-color: #F6F7F8;
}

.container-root{
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 350px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -500px;
  margin-top: -210px;
  justify-content: space-between;
  align-items: flex-start;
}

.container-root :first-child {
  padding-top: 20px;
}